.background1 {
    background: url(assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-size: cover;
    position: absolute
    width: 1315px;
    height: 822px;
    left: -116px;
    right: 10%
    top: -22px;


   
.logo {
    position: absolute;
    left: 0%;
    right: 0.01%;
    top: 40%;
    bottom: 1%;

}
    
}

.text1 {
    color: #FFFFFb;
    font-family: oswald;
    font-style: normal;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    
}

.background2 {
    background: url(assets/2.png);
    background-size: cover;
    position: absolute;
    width: 2000px;
    height: 350px;
    left: 0px;
    right: 0px;
   

}

.text2 {
    font-family: oswald;
    text-align: center;
    top: 50%;
    left: 30%;
}


.background3 {
    background: url(assets/3.png);
    background: rgba(140, 79, 42, 0.3);
    background-size: cover;
    position: absolute;
    width: 1900px;
    height: 400px;
    left: 0px;
    right: 0px;
    top: 1180px;
    
}

.text3 {
    color: #FFFFFb;
    font-family: oswald;
    text-align: center;
    top: 50%;
    left: 20%;
}

.background4 {
    background: url(assets/4.png);
    position: absolute;
    width: 1900px;
    height: 170px;
    left: 0px;
    top: 1580px;
}

.text3 {
    font-family: oswald;
    top: 2220px;
    left: 50%;
    right: 200px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.boton1 {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Oswald Regular';
    text-align: center;
    top: 190px;
    right: 48%;
    font-size: smaller
    
    ;
   
}